rust-std-##VERSION##-dev-riscv64imac_zba_zbb_zbc_zbs-unknown-ckb-elf
rust-std-##VERSION##-dev-##NATIVE_TARGET##
cargo-##VERSION##-dev-##NATIVE_TARGET##
rust-analyzer-##VERSION##-dev-##NATIVE_TARGET##
rustfmt-##VERSION##-dev-##NATIVE_TARGET##
rust-demangler-##VERSION##-dev-##NATIVE_TARGET##
clippy-##VERSION##-dev-##NATIVE_TARGET##
miri-##VERSION##-dev-##NATIVE_TARGET##
llvm-tools-##VERSION##-dev-##NATIVE_TARGET##
rust-src-##VERSION##-dev
rustc-##VERSION##-dev-##NATIVE_TARGET##
